body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
html {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.App {
  background-color: #14181d;
  min-height: 100vh;
}
